* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Comment */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 56px;

  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn:hover {
  opacity: 0.9;
}

/* header */
.fixed {
  position: sticky;
  z-index: 1;
  top: -22px;
}
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__link {
  padding: 8px 18px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  color: #5e6085;
}

.active {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000958;
}

.header__link:hover {
  font-weight: 600;
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;

  min-width: 118px;
}

/* hero */

.hero {
  padding: 110px 0;
  background: #fffaf5;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}

.hero__media {
  display: flex;
  position: relative;
}

.hero__img {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero__image {
  width: 388px;
  height: 488px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fe997b;
  object-fit: cover;
}

.hero__image:last-child {
  margin: 0 0 -124px -20px;
  display: flex;
  width: 186px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #faa7ad;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor--left {
  bottom: -8px;
  left: -59px;
}

.hero__decor--right {
  top: 17px;
  right: -54px;
}
.hero__list {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 10px;
  left: 129px;
  bottom: -92px;
}

.hero-list-item {
  display: flex;
}

.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  background: #f7a70c52;
  border-radius: 4px;
}
.hero-list-item__info {
  margin-left: 9px;
}

.hero-list-item__skeleton {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-list-item__skeleton:last-child {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  flex-shrink: 0;
}

.hero-list-item__separate {
  margin: 23px 0 22px 0px;
  border: 2px solid #f2f2f2;
}

/* content */
.hero__heading {
  width: 517px;
  color: #000958;
  font-family: Sora;
  font-size: 6.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  margin-top: 24px;
  width: 391px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__btn {
  --height: 60px;
  min-width: 189px;
  border-radius: 31px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: var(--height);
}

.hero__btn--svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.hero-row-title {
  margin-left: 24px;
  color: #000958;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  text-decoration-line: underline;
  font-weight: 400;
  cursor: pointer;
}
/* about */

.about {
  margin-top: 138px;
}
.about__inner {
  display: flex;
  align-items: center;
  gap: 231px;
}

.about__heading {
  position: relative;
  width: 446px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2; /* 119.231% */
}

.about__heading::before {
  content: "//  About  //";
  top: -22px;
  left: 3px;
  position: absolute;
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
}

.about__desc {
  margin-top: 24px;
  width: 431px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  margin-bottom: 57px;
}

.about__row {
  display: flex;
}

.about__row:last-child {
  margin-top: 37px;
}

.about__group {
  display: flex;
  align-items: center;
}

.about__group + .about__group {
  margin-left: 62px;
}

.about__click {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background: #ff5d31;
  border-radius: 4px;
  position: relative;
}

.about__click::after {
  position: absolute;
  content: "";
  height: 9px;
  width: 5px;
  top: 4px;
  left: 7px;
  border: 2.1px solid;
  border-color: transparent #fff #fff transparent;
  rotate: 45deg;
}

.about__title {
  width: 163px;
  margin-left: 10px;
  color: #48496a;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 500;
  text-wrap: nowrap;
}

.about__image {
  display: flex;
  position: relative;
}

.about__image::after {
  content: "";
  position: absolute;
  width: 494px;
  height: 336px;
  flex-shrink: 0;
  background: #fac3d1;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.about__img {
  width: 450px;
  height: 602px;
  object-fit: cover;
}

.about__decor {
  z-index: -1;
  position: absolute;
  right: -71px;
  bottom: 321px;
}

.about--rate {
  position: absolute;
  bottom: 241px;
  left: -93px;
  padding: 31px 26px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  width: 136px;
  height: 156px;
  flex-shrink: 0;
}

.about--rate__quality {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
}

.about--rate__desc {
  margin-top: 12px;
  width: 83px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;
}

.about-rate__decor {
  position: absolute;
  top: -38px;
  right: -30px;
}

/* service */
.service {
  margin-top: 101px;
}

.service__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 146px;
  align-items: center;
}

.service__image {
  position: relative;
}

.service__inner {
  width: 458px;
  margin-left: 0;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}

.service__img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.service__decor {
  position: absolute;
}

.service__decor1:first-of-type {
  top: 12px;
  left: 398px;
}

.service__decor2:nth-of-type(2) {
  top: -13px;
  left: 423px;
}

.service__decor3:nth-of-type(3) {
  top: 29px;
  left: 434px;
}

.service__decor4:nth-of-type(4) {
  top: 268px;
  left: 465px;
}

.service__decor5:nth-of-type(5) {
  top: 330px;
  left: 413px;
}

.service__decor6:nth-of-type(6) {
  top: 420px;
  left: 380px;
}

.service__heading {
  width: 543px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2; /* 119.231% */
  color: #000958;
  margin-bottom: 24px;
}

.service__desc {
  margin-bottom: 50px;
  width: 511px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}

.service__desc--small {
  margin-top: 26px;
  width: 391px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.service__link {
  margin-top: 32px;
  display: inline-block;
  margin-top: 32px;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
}

.service__link:hover {
  text-decoration: underline;
}

.service-content__list {
  display: flex;
  column-gap: 56px;
  position: relative;
  padding-bottom: 14px;
}

.service-content__icon {
  width: 18px;
}

.service-content__title {
  margin-left: 12px;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.service-content__list::after,
.tab__item--active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #ff5b2e;
  border-radius: 1px;
  opacity: 0.07;
}

/* feature */
.feature {
  background: #fff6ed;
  margin-top: 190px;
  padding: 68px 0 100px;
}

.feature__desc {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
}

.feature__heading {
  margin-top: 15px;
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
}

.feature__body {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 70px;
}

.feature-item {
  padding: 30px 40px;
  width: 294px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.feature-item + .feature-item {
  margin-top: 24px;
}

.feature-item__heading {
  position: relative;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
}

.feature-item__heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 2px;
  height: 22px;
  background: #ff5b2e;
}

.feature-item__desc {
  margin-top: 18px;
  width: 244px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.72;
}

.feature-item__link {
  display: inline-flex;
  align-items: center;
  margin-top: 24px;
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}

.feature-item__icon {
  margin-left: 6px;
}

.faeture__media {
  position: relative;
  margin-top: 18px;
}

.faeture__media::after {
  content: "";
  position: absolute;
  height: 350px;
  bottom: 89px;
  left: 13px;
  right: 13px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.feature__img {
  position: relative;
  width: 100%;
  z-index: 1;
}

.feature__ctn {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__cta {
  --height: 56px;
  min-width: 214px;
  border: 1px solid #ff5b2e;
  color: #ff5b2e;
}
/* staff */
.staff {
  padding: 130px 0;
}

.staff__desc {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
}

.staff__heading {
  margin-top: 15px;
  text-align: center;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
}

.staff__list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}

.staff__image {
  margin: 0 16px;
  border-radius: 130px;
  /* overflow: hidden; */
  position: relative;
}

.staff__img {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
}

.staff__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 266px;
  bottom: 4px;
  left: 0;
  border-radius: inherit;
  border-radius: 129.5px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__image::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
}

.staff__item:nth-child(1) .staff__image::after {
  content: url(./image/feature-blue.svg);
}

.staff__item:nth-child(2) .staff__image::after {
  top: 17px;
  content: url(./image/feature-red.svg);
  bottom: inherit;
}

.staff__item:nth-child(3) .staff__image::after {
  content: url(./image/feature-orrange.svg);
}

.staff__item:nth-child(4) .staff__image::after {
  top: 17px;
  content: url(./image/feature-lightblue.svg);
  bottom: inherit;
}

.staff__item:nth-child(2) .staff__image::before {
  background: #ff997e;
}

.staff__item:nth-child(3) .staff__image::before {
  background: #fabf3e;
}

.staff__item:nth-child(4) .staff__image::before {
  background: #5bd6e2;
}

.staff__title {
  margin-top: 29px;
  color: #656689;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.staff__name {
  margin-top: 14px;
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
}

.staff__cta {
  display: flex;
  justify-content: center;
}

.staff__link {
  text-align: center;
  margin-top: 48px;
  --height: 56px;
  min-width: 193px;
  border: 1px solid #ff5b2e;
  color: #ff5b2e;
}

/* price */
.price {
  background: #fff6ed;
  margin-top: 130px;
  padding: 86px 0;
}

.price__heading {
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}

.price__desc {
  margin: 0 auto;
  width: 709px;
  color: #656689;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}

.price__list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-self: center;
  column-gap: 44px;
}

.price-item__title {
  color: #ff5b2e;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}

.price-item__heading {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
}

.price-item__value {
  display: inline-block;
  margin-top: 24px;
  color: #000958;
  font-family: Sora;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 700;
}

.price-item__link {
  margin-top: 22px;
  --height: 44px;
  min-width: 246px;
  border-radius: 39px;
  border-color: #ff5b2e;
  background: #fff;
  color: #ff5b2e;
}

.price-item__link:hover {
  background: #ff5b2e;
  color: #fff;
}

.price-item__list {
  margin-top: 24px;
}

.price-item {
  background: #fff;
  padding: 30px 28px 0;
  border-radius: 20px;
  width: 302px;
  height: 465px;
}

.price-item__item + .price-item__item {
  margin-top: 18px;
}

.price-item__item {
  position: relative;
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.price-item__item::before {
  content: url(./image/price-icon.svg);
  margin-right: 14px;
}

.pricing {
  padding: 86px 0;
  background: #fff6ed;
}

.pricing__heading,
.pricing__desc {
  text-align: center;
}

.pricing__desc {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__switch-wrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.pricing__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
  height: 56px;
  padding: 0 40px;
  border: 1px solid #ff5b2e99;
  border-radius: 99px;
  user-select: none;
  cursor: pointer;
}

.pricing__switch-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background: #ff5b2e;
  border-radius: inherit;
}

.pricing__switch-value {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
  width: 131px;
  left: auto;
  right: 0;
}

.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(1) {
  color: #ff5b2e;
}

.pricing__switch-inner {
  position: relative;
}

.pricing__sale-off {
  position: absolute;
  top: -10px;
  right: -112px;
}

/* review */

.review {
  padding: 104px 0 52px;
  background: #fffaf5;
}

.review__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  background: transparent;
  color: #ff5b2e;
}

.review__control:hover {
  color: #fff;
  background: #ff5b2e;
  cursor: pointer;
}

.review__heading {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
}

.review__desc {
  margin-top: 24px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 553px;
  line-height: 1.55; /* 155.556% */
}

.review__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review__list {
  display: flex;
  align-items: center;
  column-gap: 115px;
}

.review__img {
  position: relative;
}

.review__image {
  position: relative;
  flex-shrink: 0;
  width: 274px;
  margin-top: -52px;
  border-radius: 137px;
}

.review__img::before {
  position: absolute;
  content: "";
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background: #ffda54;
  bottom: 3px;
  left: 0;
}

.review__name {
  display: flex;
  align-items: center;
  margin-top: 34px;
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
}

.review__name::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  margin-right: 8px;
  border-radius: 1px;
  background: #000;
}

.review__dots {
  margin-top: 56px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.review__dot {
  width: 8px;
  height: 8px;
  border: 1px solid #ff5b2e;
  border-radius: 50%;
}

.review__dot + .review__dot {
  margin-left: 8px;
}

.review__dot--active {
  width: 24px;
  height: 8px;
  background: #ff5b2e;
  border-radius: 999px;
}

.review__dot:hover {
  border: none;
  background: #ff5b2e;
}
/* blog */
.blog {
  margin-top: 130px;
}

.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-top__heading {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
}

.blog-top__desc {
  width: 350px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
}

.blog-top__cta {
  margin-top: 24px;
  --height: 56px;
  min-width: 182px;
  border: 2px solid #ff5b2e;
  color: #ff5b2e;
}

.blog-list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
}

.blog-item__top {
  padding: 24px 0 0 36px;
  border-radius: 24px;
  background: #90ccff;
}

.blog-item:nth-of-type(2) .blog-item__top {
  background: #ff997e;
}

.blog-item:nth-of-type(3) .blog-item__top {
  background: #5bd6e2;
}

.blog-item__date {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.blog-item__img {
  display: block;
  margin-top: 25px;
}

.blog-item__heading {
  margin-top: 28px;
  width: 338px;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.54;
}

.blog-item__desc {
  margin-top: 16px;
  width: 351px;
  color: #656689;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

/* footer */
.footer {
  margin-top: 52px;
}

.footer {
  margin-top: 52px;
  background: #fff6ed;
}

.footer__inner {
  display: flex;
}

.footer__left {
  padding: 114px 0 148px;
  width: 42%;
}

.footer__right {
  flex: 1;
  padding: 52px 0 48px 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 46px;
  margin: 34px 0 68px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  border-radius: 99px;
  background: #fff;
}

.search-form__input {
  width: 100%;
  height: 100%;
  padding: 0 22px;
  border: none;
  outline: none;
  border-radius: inherit;
}

.search-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  margin-right: -1px;
  border-radius: 50%;
  background: #ff5b2e;
  box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
  outline: none;
  border: none;
}

.search-form__submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.footer__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.11;
  color: #000958;
  margin-bottom: 16px;
}

.footer__social {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: red;
}

.footer__list {
  display: flex;
  align-self: center;
}

.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
}

.footer__item:hover {
  opacity: 0.9;
  cursor: pointer;
  background: #cfcbcb;
}

.footer__item + .footer__item {
  margin-left: 16px;
}

.footer__innter {
  display: flex;
  align-content: center;
}

.footer__column {
  margin-left: 129px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 58px 137px;
}

.footer-column__item {
  margin-top: 14px;
}

.footer-column__heading {
  color: #000958;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-coulumn__link {
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.footer-coulumn__link:hover {
  text-decoration: underline;
}
