* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Comment */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 56px;

  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn:hover {
  opacity: 0.9;
}

/* header */
.fixed {
  position: sticky;
  z-index: 1;
  top: -22px;
}
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__link {
  padding: 8px 18px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  color: #5e6085;
}

.active {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000958;
}

.header__link:hover {
  font-weight: 600;
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;

  min-width: 118px;
}

/* hero */

.hero {
  padding-top: 110px;
  background: #fffaf5;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}

.hero__media {
  display: flex;
  position: relative;
}

.hero__img {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero__image {
  width: 388px;
  height: 488px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fe997b;
  object-fit: cover;
}

.hero__image:last-child {
  margin: 0 0 -124px -20px;
  display: flex;
  width: 186px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #faa7ad;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor--left {
  bottom: -8px;
  left: -59px;
}

.hero__decor--right {
  top: 17px;
  right: -54px;
}
.hero__list {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 10px;
  left: 129px;
  bottom: -92px;
}

.hero-list-item {
  display: flex;
}

.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  background: #f7a70c52;
  border-radius: 4px;
}
.hero-list-item__info {
  margin-left: 9px;
}

.hero-list-item__skeleton {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-list-item__skeleton:last-child {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  flex-shrink: 0;
}

.hero-list-item__separate {
  margin: 23px 0 22px 0px;
  border: 2px solid #f2f2f2;
}

/* content */
.hero__heading {
  width: 517px;
  color: #000958;
  font-family: Sora;
  font-size: 6.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  margin-top: 24px;
  width: 391px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__btn {
  --height: 60px;
  min-width: 189px;
  border-radius: 31px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: var(--height);
}

.hero__btn--svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.hero-row-title {
  margin-left: 24px;
  color: #000958;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  text-decoration-line: underline;
  font-weight: 400;
  cursor: pointer;
}
